<div class="row disablerightclick-support">
	<div class="col-12 message">
		<center>{{#str}} supportmessage, local_disablerightclick {{/str}}</center>
	</div>
	<div class="col-6">
		<center>
			<a target="_blank" href="https://www.patreon.com/yogshirsath">
			{{#pix}} patreon, local_disablerightclick {{/pix}}
			Patreon
			</a>
		</center>
	</div>
	<div class="col-6">
		<center>
			<a target="_blank" href="https://www.paypal.me/yogshirsath">
			{{#pix}} paypal, local_disablerightclick {{/pix}}
			Paypal
			</a>
		</center>
	</div>
	<div class="buttons-list">
		<button action-disablerightclick data-value="later" class="btn btn-primary"
		title="{{#str}} supportlaterdesc, local_disablerightclick {{/str}}"
		>
			{{#str}} supportlater, local_disablerightclick {{/str}}
		</button>
		<button action-disablerightclick data-value="never" class="btn btn-info"
		title="{{#str}} supportneverdesc, local_disablerightclick {{/str}}"
		>
			{{#str}} supportnever, local_disablerightclick {{/str}}
		</button>
	</div>
</div>